<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-sightcall" version="3.0.0">
    <name>SightCall</name>
    <description>Cordova SightCall Plugin</description>
    <license>MIT</license>
    <keywords>cordova,sightcall</keywords>

    <engines>
    	<engine name="cordova" version=">=7.0.0" />
    </engines>

    <preference name="UNIVERSAL_FEATURE_DEEPLINK_URI" default="@string/universal_feature_deeplink_uri"/>

    <hook type="after_prepare" src="hooks/after_prepare.js"/>

    <js-module src="www/sightcall.js" name="sightcall">
    	<clobbers target="window.sightcall" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>voip</string>
            </array>
        </config-file>
        <preference name="MICROPHONE_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>$MICROPHONE_USAGE_DESCRIPTION</string>
        </config-file>

        <config-file target="config.xml" parent="/*">
            <feature name="SightCall">
                <param name="ios-package" value="CDVSightCall" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVSightCall.h" />
        <source-file src="src/ios/CDVSightCall.m" />
        <header-file src="src/ios/CallLocalNotification.h" />
        <source-file src="src/ios/CallLocalNotification.m" />

        <!--SightCall framework-->
        <framework src="src/ios/Sightcall/LSUniversalSDK.framework" custom="true" embed="true" />

    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="SightCall">
                <param name="android-package" value="com.okode.cordova.sightcall.SightCall" onload="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>
        <!--Google services-->
        <config-file parent="/resources" target="res/values/strings.xml">
            <string name="google_app_id">@string/google_app_id</string>
        </config-file>
        <config-file parent="/resources" target="res/values/strings.xml">
            <string name="google_api_key">@string/google_api_key</string>
        </config-file>
        <config-file parent="/resources" target="res/values/strings.xml">
            <string name="gcm_defaultSenderId">@string/gcm_defaultSenderId</string>
        </config-file>
        <config-file parent="/resources" target="res/values/strings.xml">
            <string name="default_web_client_id">@string/default_web_client_id</string>
        </config-file>
        <config-file parent="/resources" target="res/values/strings.xml">
            <string name="ga_trackingId">@string/ga_trackingId</string>
        </config-file>
        <config-file parent="/resources" target="res/values/strings.xml">
            <string name="firebase_database_url">@string/firebase_database_url</string>
        </config-file>
        <config-file parent="/resources" target="res/values/strings.xml">
            <string name="google_crash_reporting_api_key">@string/google_crash_reporting_api_key</string>
        </config-file>
        <!-- End Google services-->
        <!--Sight Call-->
        <config-file parent="/resources" target="res/values/strings.xml">
            <bool name="universal_feature_fcm">true</bool>
        </config-file>
        <config-file parent="/resources" target="res/values/strings.xml">
            <bool name="universal_feature_agent">true</bool>
        </config-file>
        <!--End Sight Call-->

        <source-file src="src/android/SightCall.java" target-dir="src/com/okode/cordova/sightcall" />
        <source-file src="src/android/FetchUseCasesCallback.java" target-dir="src/com/okode/cordova/sightcall" />
        <source-file src="src/android/EventsManager.java" target-dir="src/com/okode/cordova/sightcall" />
        <source-file src="src/android/EventListener.java" target-dir="src/com/okode/cordova/sightcall" />
        <source-file src="src/android/Constants.java" target-dir="src/com/okode/cordova/sightcall" />
        <source-file src="src/android/events/CallReport.java" target-dir="src/com/okode/cordova/sightcall/events" />
        <source-file src="src/android/events/Event.java" target-dir="src/com/okode/cordova/sightcall/events" />
        <source-file src="src/android/events/Status.java" target-dir="src/com/okode/cordova/sightcall/events" />
        <source-file src="src/android/events/MediaSaved.java" target-dir="src/com/okode/cordova/sightcall/events" />

        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
        <framework src="com.google.firebase:firebase-core:+" />
        <framework src="com.google.firebase:firebase-messaging:+" />
    </platform>

</plugin>
