<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-sightcall" version="4.0.4">
    <name>SightCall</name>
    <description>Cordova SightCall Plugin</description>
    <license>MIT</license>
    <keywords>cordova,sightcall</keywords>

    <engines>
    	<engine name="cordova" version=">=7.0.0" />
    </engines>

    <js-module src="www/sightcall.js" name="sightcall">
    	<clobbers target="window.sightcall" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>voip</string>
            </array>
        </config-file>
        <preference name="MICROPHONE_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>$IOS_MICROPHONE_USAGE_DESCRIPTION</string>
        </config-file>

        <config-file target="config.xml" parent="/*">
            <feature name="SightCall">
                <param name="ios-package" value="CDVSightCall" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVSightCall.h" />
        <source-file src="src/ios/CDVSightCall.m" />
        <header-file src="src/ios/CallLocalNotification.h" />
        <source-file src="src/ios/CallLocalNotification.m" />
        <source-file src="src/ios/AppDelegate+Sightcall.h" />
        <source-file src="src/ios/AppDelegate+Sightcall.m" />

        <!--SightCall framework-->
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="LSUniversalSDK" version="5.0.7"/>
            </pods>
        </podspec>

    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="SightCall">
                <param name="android-package" value="com.okode.cordova.sightcall.SightCall" onload="true" />
            </feature>
        </config-file>

        <preference name="ANDROID_FEATURE_FCM" default="false" />
        <preference name="ANDROID_FEATURE_AGENT" default="false" />
        <preference name="ANDROID_FEATURE_MEDIA_EXPORTS" default="false" />

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>
        <!--Sight Call-->
        <config-file parent="/resources" target="res/values/strings.xml">
            <bool name="universal_feature_fcm">$ANDROID_FEATURE_FCM</bool>
        </config-file>
        <config-file parent="/resources" target="res/values/strings.xml">
            <bool name="universal_feature_agent">$ANDROID_FEATURE_AGENT</bool>
        </config-file>
        <config-file parent="/resources" target="res/values/strings.xml">
            <bool name="universal_feature_media_export">$ANDROID_FEATURE_MEDIA_EXPORTS</bool>
        </config-file>

        <!--End Sight Call-->

        <source-file src="src/android/SightCall.java" target-dir="src/com/okode/cordova/sightcall" />
        <source-file src="src/android/FetchUseCasesCallback.java" target-dir="src/com/okode/cordova/sightcall" />
        <source-file src="src/android/EventsManager.java" target-dir="src/com/okode/cordova/sightcall" />
        <source-file src="src/android/EventListener.java" target-dir="src/com/okode/cordova/sightcall" />
        <source-file src="src/android/Constants.java" target-dir="src/com/okode/cordova/sightcall" />
        <source-file src="src/android/events/CallReport.java" target-dir="src/com/okode/cordova/sightcall/events" />
        <source-file src="src/android/events/Event.java" target-dir="src/com/okode/cordova/sightcall/events" />
        <source-file src="src/android/events/Status.java" target-dir="src/com/okode/cordova/sightcall/events" />
        <source-file src="src/android/events/MediaSaved.java" target-dir="src/com/okode/cordova/sightcall/events" />
        <source-file src="src/android/events/GuestReady.java" target-dir="src/com/okode/cordova/sightcall/events" />
        <source-file src="src/android/events/CallStart.java" target-dir="src/com/okode/cordova/sightcall/events" />

        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
    </platform>

</plugin>
